################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Snake/bin/Debug/net6.0
/Snake/obj
